language: python
sudo: true
dist: xenial

branches:
  only:
  - master
  - /^\d\.\d+$/

matrix:
  include:
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37

install:
- pip install -U tox codecov

script: tox

after_success:
- codecov

cache:
  directories:
  - $HOME/.cache/pip
